{extend name='admin@public/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">中奖人姓名/昵称/电话</label>
        <div class="layui-input-inline">
            <input name="key" value="{$key|default=''}" placeholder="中奖人姓名/昵称/电话" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">奖品</label>
        <div class="layui-input-inline">
            <input name="prize_name" value="{$prize_name|default=''}" placeholder="奖品" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">活动名/活动id</label>
        <div class="layui-input-inline">
            <input name="active_name" value="{$active_name|default=''}" placeholder="活动名/活动id" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.form.render();
    $('[data-time]').map(function () {
        window.laydate.render({range: true, elem: this});
    });
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <table class="layui-table" lay-size="sm">
        <thead>
        <tr>

            <th class="text-left">活动名id</th>
            <th class="text-left">活动名</th>
            <th class="text-left">中奖人信息</th>
            <th class="text-left">奖品名字</th>
            <th class="text-left">奖品图片</th>

        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class="text-left text-top nowrap">
                {$vo['prize_active_id']}
            </td>
            <td class="text-left text-top nowrap">
                {$vo['prize_active_id']|getActiveName}
            </td>
            <td class="text-left text-top nowrap">
                {:htmlspecialchars_decode(getUserInfo($vo['user_id']))}
            </td>
            <td class="text-left text-top nowrap">
                {$vo['name']}
            </td>
            <td class="text-left text-top nowrap">
                <img src="{$vo['img_url']}">
            </td>

            <!--<td class="text-left text-top nowrap">
                <a data-open='{:url("$classuri/detail")}?id={$vo.id}'>查看详情</a>
            </td>-->
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>

{/block}