{extend name="home@public/main"}

{block name='body'}
<div class="top">
    <div class="swiper-container swiper-containerss" style="width: 100%;">
        <div class="swiper-wrapper" style="width: 100%;height: 1.9rem;">
            {volist name="img" id="v" key="k" }
                <div class="swiper-slide" style="width: 100%;height: 1.9rem;">
                    <?php if(getCompeteInfo($v['compete_id'])){  ?>
                    <a href='{:url("Home/Index/notice")}?id={$v.compete_id}'>
                        <img src="{$v['img_url']}" style="clear:both; width:100%;height: 100%;">
                    </a>
                    <?php }else{ ?>
                        <img src="{$v['img_url']}" style="clear:both; width:100%;height: 100%;">
                    <?php } ?>
                </div>
            {/volist}

        </div>
    </div>
</div>
<ul class="list-lx">
    {volist name="data" id="v" key="k" }
    <li>
        <div class="img-list fl"><img src="{$v.img_url}"/></div>
        <div class="conter-list fr">
            <p class="zm">{$v.name}</p>
            <p class="lx">{$v.describe}</p>
            <p class="sj">比赛时间：{$v.compete_time}</p>
            <p class="fy">报名费用：<span style="color: #ff3d3d;">￥{:sprintf("%.2f", $v.price/100)}/人</span></p>
            <p class="nx">
                年龄{$v.age.0}岁--{$v.age.1}岁;
            </p>
            <a href='{:url("Home/Index/notice")}?id={$v.id}'>
                <button class="bm">我要报名</button>
            </a>
        </div>
    </li>
    {/volist}
</ul>
<div style="height: 0.5rem;width: 100%;"></div>

{/block}
{block name='script'}
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplay:2000,
    })
</script>
{/block}
