{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/shengming.css?v={:date('ymdHis')}" rel="stylesheet">
<style>
    .vwrapper{
        width: 100%;
        font-size: 15px;
        padding: 10px;
    }
    .vwrapper span{
        display: inline-block;
    }
    .key{
        width: 30%;
    }
    .value{
        width: 60%;
    }
</style>
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui" onclick="javascript:history.go(-1);"><img src="__STATIC__/home/image/fanhui.png">返回</div>
    <div class="bt">赛事声明</div>
</div>

<div class="box">
    <div class="vwrapper">
        <span class="key">赛事名称：</span>
        <span class="value">{$data['name']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">图片：</span>
        <span class="value" style="width: 140px;height: 70px">
		 	 		<img src="{$data['img_url']|default=''}" style="width: 140px;height: 70px">
		 	 	</span>
    </div>
    <div class="vwrapper">
        <span class="key">赛事描述：</span>
        <span class="value">{$data['describe']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">报名价格：</span>
        <span class="value">￥{:sprintf("%.2f", $data['price']/100)}/人</span>
    </div>
    <div class="vwrapper">
        <span class="key">年龄段：</span>
        <span class="value">{$data['age'][0]|default=''}-{$data['age'][1]}岁</span>
    </div>
    <div class="vwrapper">
        <span class="key">已参赛人数：</span>
        <span class="value">{$data_notice['people_num']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">乘车地点：</span>
        <span class="value">{$data_notice['car_address']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">参赛物品获取地点：</span>
        <span class="value">{$data_notice['receive_good_address']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">比赛时间：</span>
        <span class="value">{$data['compete_time']|default=''}</span>
    </div>
    <div class="vwrapper">
        <span class="key">报名截止时间：</span>
        <span class="value">
            {$data_notice['signup_end_time']|default=''}
        </span>
    </div>
    <div class="vwrapper">
        <span class="key">赛事内容：</span>
        <div style="width: 100%;overflow: hidden;margin-top:10px;border:1px solid lightgrey;min-height: 50px;word-wrap:break-word; ">
            {:htmlspecialchars_decode($data_notice['content'])}
        </div>

    </div>
</div>
<a href='{:url("Home/Index/know")}?id={$data.id}'><button class="xyb">下一步</button></a>
{/block}
{block name='script'}

{/block}
