{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/gerenzhongxin.css?v={:date('ymdhi')}" rel="stylesheet">
<style>
    .xf-prize{
        line-height: 40px;
        width:33%;
        text-align: center;
        overflow: hidden;
		display: inline-block;
    }
</style>
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui" onclick="javascript:history.go(-1);"><img src="__STATIC__/home/image/fanhui.png">返回</div>
    <div class="bt">个人中心</div>
</div>
<div class="uesr" style="background: url(__STATIC__/home/image/user_02.png) no-repeat;background-size: 100% 100%;">
    <div class="touxiang"><img src="{$user_info['user_watch_info']['headimgurl']}"/></div>
    <p class="nicheng">{$user_info['user_watch_info']['nickname']}</p>
    <div class="zil">
        <a href="{:url('home/User/edit')}?userId={$user_info['user_info']['id']}">
            <img src="__STATIC__/home/image/ziliao.png"/>
            <p>个人资料</p>
        </a>
    </div>
    <ul class="qie">
        <li>我的比赛</li>
        <li>我的奖品</li>
    </ul>
</div>
<ol class="huan" style="padding-bottom: 60px;">
    <li>
        <ul class="list-list">
            {volist name="order_list" id="v" key="k" }
                <li>
                    <div class="xq"><span class="fl">{$v['compete_id']|getCompeteTime}参加赛事</span><span class="fr">查看详情 <img src="__STATIC__/home/image/xiabao_03.png"/></span></div>
                    <div class="kaung">
                        <div class="bm-list">
                            <div class="lss fl">赛事名称</div>
                            <div class="ls fr"><input style="color: white" type="text" value="{$v['compete_id']|getCompeteInfo}"></div>
                        </div>
                        <div class="bm-list">
                            <div class="lss fl">赛事描述</div>
                            <div class="ls fr"><input style="color: white" type="text" value="{$v['compete_id']|getCompeteDes}"></div>
                        </div>
                        <div class="bm-list">
                            <div class="lss fl">参&nbsp;&nbsp;赛&nbsp;号</div>
                            <div class="ls fr"><input style="color: white" type="text" value="{$v['order_num']}"></div>
                        </div>
                        <div class="bm-list">
                            <div class="lss fl">赛事时间</div>
                            <div class="ls fr"><input style="color: white" type="text" value="{$v['compete_id']|getCompeteTime}"></div>
                        </div>
                        
                    </div>
					<div class="kaung" style="    background-color: white;height: auto;">
						<h4 style="font-size: 16px;font-weight: 200;">参赛人信息：</h4>
					</div>
					{volist name="v['people_info']" id="vx" key="kx" }
						<div class="kaung">
							<div class="bm-list">
								<div class="lss fl">姓名</div>
								<div class="ls fr"><input style="color: white" type="text" value="{$vx['name']|default=''}"></div>
							</div>
							<div class="bm-list">
								<div class="lss fl">电话</div>
								<div class="ls fr"><input style="color: white" type="text" value="{$vx['phone']|default=''}"></div>
							</div>
							<div class="bm-list">
								<div class="lss fl">身份证</div>
								<div class="ls fr"><input style="color: white" type="text" value="{$vx['id_card']|default=''}"></div>
							</div>
							<div class="bm-list">
								<div class="lss fl">服装尺寸</div>
								<div class="ls fr"><input style="color: white" type="text" value="{$vx['size']|default=''}"></div>
							</div>
							<div class="bm-list">
								<div class="lss fl">服装颜色</div>
								<div class="ls fr"><input style="color: white" type="text" value="{$vx['color']|default=''}"></div>
							</div>
						</div>
					{/volist}
                </li>
            {/volist}
        </ul>
    </li>
    <li>
            {volist name="prize_list" id="v" key="k" }
            <ul class="list-list">
                <li>
                    <div class="xq" style="height: 70px;font-size: 0.2rem;padding: 0.1rem 0;" onclick="usecode({$v['id']},{$v['code_status']})">
                        <span class="fl xf-prize">
                            {$v['name']}<br/>
                        </span>
                        <span class="cen xf-prize code_status_{$v['id']}">
                            <?php if($v['code_status'] == 1){echo '已核销';}else{echo '未核销';} ?>
                        </span>
                        <span class="fr xf-prize" style="margin-top: -0.3rem;">
                            <img style="width: 50px;height: 50px;margin: 0.24rem 0.02rem 0 0;" src="{$v['img_url']}"/>
                        </span>
                    </div>
                </li>
            </ul>
            {/volist}
    </li>
</ol>
{/block}
{block name='script'}
<script type="text/javascript">
    $(function(){
        $(".qie>li:eq(0)").css("color","#4a96d0");
        $(".huan>li:eq(0)").show().siblings().hide();
        $(".qie>li").click(function(){
            var temp = $(this).index();
            $(".qie>li").eq(temp).css("color","#4a96d0").siblings().css("color","white");
            $(".huan>li").eq(temp).show().siblings().hide();
        });

        //赛事切换
        var i = 0
        $(".list-list>li").click(function(){
            i++;
            var temp = $(this).index();
            console.log(temp);

            if (i%2==0) {
                $(".list-list>li").eq(temp).children(".kaung").hide();
                $(".list-list>li").eq(temp).children(".xq").find("img").attr("src","__STATIC__/home/image/xiabao_03.png");
            } else{
                $(".list-list>li").eq(temp).children(".kaung").show();
                $(".list-list>li").eq(temp).children(".xq").find("img").attr("src","__STATIC__/home/image/xiaba_03.png");
            }
        })

    })
	function usecode(id,status){
		if(status == 1){
			alert("已核销");
			return;
		}
		var judge = prompt("输入核销码！");
		if (judge) {
			useCode(id,judge)
			//alert('已核销 ');
			//document.write("输入的内容为："+judge+"。");
		} else {
			//document.write("取消就没了哦。");
		}
	}
    function useCode(id,code){
        if(status == 1){
            alert('核销码已使用!');
            return false;
        }
        $.ajax({
            url:"/store/Prize/useCode?id="+id+"&code="+code,
            async:false,
            success:function(data){
                if(data == 1){
                    $('.code_status_'+id).text('已核销');
                    alert('核销成功!');
                }else{
                    alert(data);
                }

            },
            error:function(){
                alert("网络错误，请稍后再试！");
            },
        });
    }
</script>
{/block}
