{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/gerenzhongxin.css?v={:date('ymd')}" rel="stylesheet">
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui"><img src="image/fanhui.png">返回</div>
    <div class="bt">个人中心</div>
</div>
<div class="uesr" style="background: url(image/images/user_02.png) no-repeat;background-size: 100% 100%;">
    <div class="touxiang"><img src="image/images/banner_01.png"/></div>
    <p class="nicheng">麦口</p>
    <div class="zil">
        <a href="#">
            <img src="image/ziliao.png"/>
            <p>个人资料</p>
        </a>
    </div>
    <ul class="qie">
        <li>我的比赛</li>
        <li>我的奖品</li>
    </ul>
</div>
<ol class="huan">
    <li>
        <ul class="list-list">
            <li>
                <div class="xq"><span class="fl">2018年4月10号参加赛事</span><span class="fr">查看详情 <img src="image/images/xiabao_03.png"/></span></div>
                <div class="kaung">
                    <div class="bm-list">
                        <div class="lss fl">站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">赛事名称</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">参&nbsp;&nbsp;赛&nbsp;号</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">赛事时间</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="xq"><span class="fl">2018年4月10号参加赛事</span><span class="fr">查看详情 <img src="image/images/xiabao_03.png"/></span></div>
                <div class="kaung">
                    <div class="bm-list">
                        <div class="lss fl">站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">赛事名称</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">参&nbsp;&nbsp;赛&nbsp;号</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">赛事时间</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                    <div class="bm-list">
                        <div class="lss fl">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</div>
                        <div class="ls fr"><input type="text"></div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li>2</li>
</ol>
{/block}
{block name='script'}
<script type="text/javascript">
    $(function(){
        $(".qie>li:eq(0)").css("color","#4a96d0");
        $(".huan>li:eq(0)").show().siblings().hide();
        $(".qie>li").click(function(){
            var temp = $(this).index();
            $(".qie>li").eq(temp).css("color","#4a96d0").siblings().css("color","white");
            $(".huan>li").eq(temp).show().siblings().hide();
        });

        //赛事切换
        var i = 0
        $(".list-list>li").click(function(){
            i++;
            var temp = $(this).index();
            console.log(temp);

            if (i%2==0) {
                $(".list-list>li").eq(temp).children(".kaung").hide();
                $(".list-list>li").eq(temp).children(".xq").find("img").attr("src","image/images/xiabao_03.png");
            } else{
                $(".list-list>li").eq(temp).children(".kaung").show();
                $(".list-list>li").eq(temp).children(".xq").find("img").attr("src","image/images/xiaba_03.png");
            }
        })

    })
</script>
{/block}
