{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/ziliao.css?v={:date('ymdhis')}" rel="stylesheet">
<style>
	.url_down{
		height:30px;
		width:45%;
		border:1px solid #000000;
		border-radius:8px;
		font-size:16px;
		text-align:center;
		line-height:30px;
		margin:8px auto;
		display:block;
		background-color:#e7e7e7
	}
</style>
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui" onclick="javascript:history.go(-1);"><img src="__STATIC__/home/image/fanhui.png">返回</div>
    <div class="bt">报名资料</div>
</div>
<ul class="tab">
    <li>个人报名</li>
    <li>团体报名</li>
</ul>
<ol class="ming-list">

        <li>
            <form action="{:url('home/Order/addOrder')}?id={$id}" method="post" id="addorder">
                <input type="hidden" name="compete_id" value="{$data['id']}" >
                <div class="bm-list">
                    <div class="lss fl">报名路线</div>
                    <div class="ls fl"><input type="text" value="{$data['name']}" readonly required="required"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</div>
                    <div class="ls fl"><input type="text" name="name" required="required" value="{$user_info['user_info']['name']|default=''}"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</div>
                    <div class="ls fl"><input type="text" name="phone" required="required" value="{$user_info['user_info']['phone']|default=''}"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                    <div class="ls fl">
                        <select class="lsr" name="sex" required="required">
                            <option value=""></option>
                            <option value="男" <?php if($user_info['user_info']['sex'] == '男')echo 'selected'; ?> >男</option>
                            <option value="女" <?php if($user_info['user_info']['sex'] == '女')echo 'selected'; ?> >女</option>
                        </select>
                    </div>
                </div>

                <div class="bm-list">
                    <div class="lss fl">身份证号</div>
                    <div class="ls fl"><input type="text" name="id_card" required="required" value="<?php if($user_info['user_info']['card_type'] == 0)echo $user_info['user_info']['card_id']; ?>"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</div>
                    <div class="ls fl"><input type="text" name="country" required="required" value="{$user_info['user_info']['country']|default=''}"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">电子邮箱</div>
                    <div class="ls fl"><input type="text" name="email" value="{$user_info['user_info']['email']|default=''}"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">比赛日期</div>
                    <div class="ls fl"><input type="text" value="{$data['compete_time']}" readonly></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">居住地址</div>
                    <div class="ls fl"><input type="text" name="address"></div>
                </div>

                <div class="bm-list">
                    <div class="lss fl">服装尺寸</div>
                    <div class="ls fl">
                        <select class="lsr" name="size" required="required">
                            <option value=""></option>
                            {foreach $select_info['size'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">服装颜色</div>
                    <div class="ls fl">
                        <select class="lsr" name="color" required="required">
                            <option value=""></option>

                            {foreach $select_info['color'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">紧急联系人</div>
                    <div class="ls fl"><input type="text" name="emergency_person"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">紧急联系人电话</div>
                    <div class="ls fl"><input type="text" name="emergency_phone"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">乘车地点</div>
                    <div class="ls fl">
                        <select class="lsr" name="car_address" required="required">
                            <option value=""></option>
                            {foreach $select_info['car_address'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">参赛物品领取方式</div>
                    <div class="ls fl">
                        <select class="lsr" name="receive_good_address" required="required" onchange="changeaddress()">
                            <option value=""></option>
                            {foreach $select_info['good_address'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <button class="tijiao" type="submit">提交</button>
            </form>
        </li>


    <li>
        <!--<div class="xbox">
          
                <div class="bg"  onclick="down_table()">下载报名表格</div>
				<input type='text' id='down_url' value="{$down_url}" class="url_down" />
         
            <div class="shangchuang" id="uploadfilename">上传填好的表格.csv</div>
            <button class="sc" onclick="upload_table()">
                上传
            </button>
            <div class="renshu">
                人数:<span id="people_num_xf">0</span>人&nbsp;<span id="people_price">0</span>元/人
            </div>
            <div class="zj">总计：<span class="sum" id="sumprice">0</span>元</div>
            <button class="fk" id="pay_price" onclick="payment()">去付款</button>
                <input type="file" name="fileUpload" style="display:none;" id="upload" />
        </div>-->
        <form action="{:url('home/Order/addOrderTeam')}?id={$id}" method="post" id="addpeople">
            <input type="hidden" name="compete_id" value="{$data['id']}" >
            <div class="bm-list">
                <div class="lss fl">报名路线</div>
                <div class="ls fl"><input type="text" value="{$data['name']}" readonly required="required"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</div>
                <div class="ls fl"><input type="text" name="name" required="required" value="{$user_info['user_info']['name']|default=''}"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</div>
                <div class="ls fl"><input type="text" name="phone" required="required" value="{$user_info['user_info']['phone']|default=''}"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                <div class="ls fl">
                    <select class="lsr" name="sex" required="required">
                        <option value=""></option>
                        <option value="男" <?php if($user_info['user_info']['sex'] == '男')echo 'selected'; ?> >男</option>
                        <option value="女" <?php if($user_info['user_info']['sex'] == '女')echo 'selected'; ?> >女</option>
                    </select>
                </div>
            </div>

            <div class="bm-list">
                <div class="lss fl">身份证号</div>
                <div class="ls fl"><input type="text" name="id_card" required="required" value="<?php if($user_info['user_info']['card_type'] == 0)echo $user_info['user_info']['card_id']; ?>"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</div>
                <div class="ls fl"><input type="text" name="country" required="required" value="{$user_info['user_info']['country']|default=''}"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">电子邮箱</div>
                <div class="ls fl"><input type="text" name="email" value="{$user_info['user_info']['email']|default=''}"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">比赛日期</div>
                <div class="ls fl"><input type="text" value="{$data['compete_time']}" readonly></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">居住地址</div>
                <div class="ls fl"><input type="text" name="address"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">服装尺寸</div>
                <div class="ls fl">
                    <select class="lsr" name="size" required="required">
                        <option value=""></option>
                        {foreach $select_info['size'] as $key=>$vo }
                        <option value="{$vo}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="bm-list">
                <div class="lss fl">服装颜色</div>
                <div class="ls fl">
                    <select class="lsr" name="color" required="required">
                        <option value=""></option>
                        {foreach $select_info['color'] as $key=>$vo }
                        <option value="{$vo}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="bm-list">
                <div class="lss fl">紧急联系人</div>
                <div class="ls fl"><input type="text" name="emergency_person"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">紧急联系人电话</div>
                <div class="ls fl"><input type="text" name="emergency_phone"></div>
            </div>
            <div class="bm-list">
                <div class="lss fl">乘车地点</div>
                <div class="ls fl">
                    <select class="lsr" name="car_address" required="required">
                        <option value=""></option>
                        {foreach $select_info['car_address'] as $key=>$vo }
                        <option value="{$vo}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="bm-list">
                <div class="lss fl">参赛物品领取方式</div>
                <div class="ls fl">
                    <select class="lsr" name="receive_good_address" required="required" onchange="changeaddressx()">
                        <option value=""></option>
                        {foreach $select_info['good_address'] as $key=>$vo }
                        <option value="{$vo}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <button class="tijiao" type="submit" style="width: 1.2rem">继续添加队员</button>
        </form>
    </li>
</ol>
<input type="hidden" name="order_id" value="" id="order_id">
<input type="hidden" name="payment_url" value="" id="payment_url">
{/block}
{block name='script'}
<script type="text/javascript">
    $('.foot').css('display','none');
    $(function(){
        $(".tab>li:eq(0)").addClass("action");
        $(".ming-list>li:eq(0)").show().siblings().hide();
        $(".tab>li").click(function(){
            var temp = $(this).index();
            $(".tab>li").eq(temp).addClass("action").siblings().removeClass("action");
            $(".ming-list>li").eq(temp).show().siblings().hide();
        })
		$("#upload").change(function(){
			//上传操作
			var formData = new FormData();
			formData.append('file', $('#upload')[0].files[0]);
			$.ajax({
				url: '/home/Order/uploadTable?id={$id}',
				type: 'POST',
				cache: false,
				data: formData,
				processData: false,
				contentType: false
			}).done(function(res) {
                res = JSON.parse( res );
                if(res.status == 1){
                    $("#sumprice").text(res['data']['prize'] * res['data']['people_num'] / 100);
                    $("#people_price").text(res['data']['prize']/100);
                    $("#people_num_xf").text(res['data']['people_num']);
                    $("#order_id").val(res['data']['order_id']);
                    $("#payment_url").val(res['data']['url']);
                    $("#uploadfilename").text(res['data']['old_name']);
                }else{
                    alert(res.msg);
                }
			}).fail(function(res) {
				alert('文件格式错误，请重新编辑！（请用指定地点下载的表格进行填写）');
			});
		})
		
    })
	function down_table(){
		
         alert('请自行粘贴下方的下载地址，使用其他浏览器进行下载！');
        
	}
	function upload_table(){
		$("#upload").trigger("click");
	}
    function payment(){
        if($("#order_id").val() == ''){
            alert('请上传报名表！');
        }else{
            //alert($("#order_id").val())
            window.location.href=$("#payment_url").val();
        }
        
    }
    function changeaddress() {
        if($("#addorder select[name='receive_good_address']").val() == '物流到家'){

            $("#addorder input[name='address']").attr('required','required');

        }else {
            $("#addorder input[name='address']").removeAttr('required');

        }

    }
    function changeaddressx() {
        if($("#addpeople select[name='receive_good_address']").val() == '物流到家'){
            $("#addpeople input[name='address']").attr('required','required');

        }else {
            $("#addpeople input[name='address']").removeAttr('required');

        }

    }
</script>
{/block}
