{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/ziliao.css?v={:date('ymd')}" rel="stylesheet">
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui" onclick="javascript:history.go(-1);"><img src="__STATIC__/home/image/fanhui.png">返回</div>
    <div class="bt">报名资料</div>
</div>
<ul class="tab">
    <li>个人报名</li>
    <li>团体报名</li>
</ul>
<ol class="ming-list">
    <li>
        <div class="bm-list">
            <div class="lss fl">报名路线</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</div>
            <div class="ls fl">
                <select class="lsr">
                    <option></option>
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
        </div>
        <div class="bm-list">
            <div class="lss fl">出生日期</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">身份证号</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">电子邮箱</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">比赛日期</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">居住地址</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">工作单位</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">服装尺寸</div>
            <div class="ls fl">
                <select class="lsr">
                    <option></option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
            </div>
        </div>
        <div class="bm-list">
            <div class="lss fl">服装颜色</div>
            <div class="ls fl">
                <select class="lsr">
                    <option></option>
                    <option>绿色</option>
                    <option>白色</option>
                    <option>黑色</option>
                    <option>黄色</option>
                    <option>蓝色</option>
                </select>
            </div>
        </div>
        <div class="bm-list">
            <div class="lss fl">紧急联系人</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">紧急联系电话</div>
            <div class="ls fl"><input type="text"></div>
        </div>
        <div class="bm-list">
            <div class="lss fl">乘车摆渡车地点</div>
            <div class="ls fl">
                <select class="lsr">
                    <option></option>
                    <option>火车站</option>
                    <option>北站</option>
                    <option>花溪</option>
                    <option>南明</option>
                    <option>云岩</option>
                </select>
            </div>
        </div>
        <div class="bm-list">
            <div class="lss fl">领取参赛物品地点</div>
            <div class="ls fl">
                <select class="lsr">
                    <option></option>
                    <option>物流到家</option>
                    <option>现场自取</option>
                </select>
            </div>
        </div>
        <button class="tijiao">提交</button>
    </li>
    <li>
        <div class="xbox">
            <div class="bg">下载报名表格</div>
            <div class="shangchuang">上传填好的表格</div><button class="sc">上传</button>
            <div class="renshu">
                人数:<span>3</span>人&nbsp;<span>120</span>元/人
            </div>
            <div class="zj">总计：<span class="sum">360</span>元</div>
            <button class="fk">去付款</button>
        </div>
    </li>
</ol>
{/block}
{block name='script'}
<script type="text/javascript">
    $('.foot').css('display','none');
    $(function(){
        $(".tab>li:eq(0)").addClass("action");
        $(".ming-list>li:eq(0)").show().siblings().hide();
        $(".tab>li").click(function(){
            var temp = $(this).index();
            $(".tab>li").eq(temp).addClass("action").siblings().removeClass("action");
            $(".ming-list>li").eq(temp).show().siblings().hide();
        })
    })
</script>
{/block}
