{extend name="home@public/main"}
{block name='css'}
<link href="__STATIC__/home/css/ziliao.css?v={:date('ymdhis')}" rel="stylesheet">
<style>
	.url_down{
		height:30px;
		width:45%;
		border:1px solid #000000;
		border-radius:8px;
		font-size:16px;
		text-align:center;
		line-height:30px;
		margin:8px auto;
		display:block;
		background-color:#e7e7e7
	}
</style>
{/block}
{block name='body'}
<div class="top">
    <div class="fanhui" onclick="javascript:history.go(-1);"><img src="__STATIC__/home/image/fanhui.png">返回</div>
    <div class="bt">报名资料</div>
</div>
<ul class="tab">
    <li>队员信息</li>
</ul>
<ol class="ming-list">

        <li>
            <form action="{:url('home/Order/addPeople')}?order_id={$order_id}" method="post" id="peopleinfo">
                <input type="hidden" name="order_id" value="{$order_id}" >
                <input type="hidden" name="act" value="" id="act">

                <div class="bm-list">
                    <div class="lss fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</div>
                    <div class="ls fl"><input type="text" name="name" required="required" value=""></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</div>
                    <div class="ls fl"><input type="text" name="phone" required="required" value=""></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                    <div class="ls fl">
                        <select class="lsr" name="sex" required="required">
                            <option value=""></option>
                            <option value="男" >男</option>
                            <option value="女" >女</option>
                        </select>
                    </div>
                </div>
                
                <div class="bm-list">
                    <div class="lss fl">身份证号</div>
                    <div class="ls fl"><input type="text" name="id_card" required="required" value=""></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</div>
                    <div class="ls fl"><input type="text" name="country" required="required" value=""></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">电子邮箱</div>
                    <div class="ls fl"><input type="text" name="email" value=""></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">居住地址</div>
                    <div class="ls fl"><input type="text" name="address" value="{$address}"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">服装尺寸</div>
                    <div class="ls fl">
                        <select class="lsr" name="size" required="required">
                            <option value=""></option>
                            {foreach $select_info['size'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">服装颜色</div>
                    <div class="ls fl">
                        <select class="lsr" name="color" required="required">
                            <option value=""></option>
                            {foreach $select_info['color'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">紧急联系人</div>
                    <div class="ls fl"><input type="text" name="emergency_person"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">紧急联系人电话</div>
                    <div class="ls fl"><input type="text" name="emergency_phone"></div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">乘车地点</div>
                    <div class="ls fl">
                        <select class="lsr" name="car_address" required="required">
                            <option value=""></option>
                            {foreach $select_info['car_address'] as $key=>$vo }
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="bm-list">
                    <div class="lss fl">参赛物品领取方式</div>
                    <div class="ls fl">
                        <select class="lsr" name="receive_good_address" required="required" onchange="changeaddress({$order_id})">
                            {foreach $select_info['good_address'] as $key=>$vo }
								<?php 
									if($vo == $receive_good_address){
										echo "<option value=".$vo." selected >".$vo."</option>";
									}
								?>
								
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div style="text-align: center; font-size: 30px;margin-bottom: 20px">
                    <button class="tijiao" style="margin: auto;display: inline-block" type="submit" onclick="$('#act').val('pay');return true;">提交</button>
                    <button class="tijiao" style="margin: auto;display: inline-block" type="submit" onclick="$('#act').val('addpeople');return true;">继续增加</button>
                </div>
            </form>
        </li>

</ol>
<input type="hidden" name="order_id" value="" id="order_id">
<input type="hidden" name="payment_url" value="" id="payment_url">
{/block}
{block name='script'}
<script type="text/javascript">
    $('.foot').css('display','none');
    $(function(){
        $(".tab>li:eq(0)").addClass("action");
        $(".ming-list>li:eq(0)").show().siblings().hide();
        $(".tab>li").click(function(){
            var temp = $(this).index();
            $(".tab>li").eq(temp).addClass("action").siblings().removeClass("action");
            $(".ming-list>li").eq(temp).show().siblings().hide();
        })
    })

    function changeaddress(order_id) {
        if($("#peopleinfo select[name='receive_good_address']").val() == '物流到家'){
		/*
			$.ajax({
			url:"/home/Order/receiveaddress?order_id=" + order_id,
			async:false,
			success:function(data){
                if(data != ''){
					data = JSON.parse( data );
					$("#peopleinfo input[name='address']").val(data.address);
				}
            },
			error:function(){
				
			}		
			});
		*/
            //$("#peopleinfo input[name='address']").attr('required','required');

        }else {
            //$("#peopleinfo input[name='address']").removeAttr('required');

        }
    }
</script>
{/block}
