{extend name='admin@public/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" id="order_form">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单单号</label>
        <div class="layui-input-inline">
            <input name="order_num" value="{$order_num}" placeholder="请输入订单单号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">赛事名称</label>
        <div class="layui-input-inline">
            <input name="titles" value="{$titles}" placeholder="赛事名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户昵称</label>
        <div class="layui-input-inline">
            <input name="user_nickname" value="{$user_nickname}" placeholder="用户昵称" class="layui-input">
        </div>
    </div>
	
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">核销码</label>
        <div class="layui-input-inline">
            <input name="code" value="{$code|default=""}" placeholder="核销码" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">下单时间</label>
        <div class="layui-input-inline">
            <input name="create_time" data-time value="{$create_time}" placeholder="下单时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        <button class="layui-btn layui-btn-primary" type="button" id="export" onclick="export_order()"><i class="layui-icon">&#xe601;</i> 导 出</button>

    </div>

</form>
<script>
    function export_order(){
        var t = $('#order_form').serializeArray();
        console.log(t);
        var param = '?';
        for (var i=0;i<t.length;i++)
        {
            param += t[i]['name']+'='+t[i]['value']+'&';
        }
        window.location.href='/store/Order/export'+param;
    }
    window.form.render();
    $('[data-time]').map(function () {
        window.laydate.render({range: true, elem: this});
    });
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <table class="layui-table" lay-size="sm">
        <thead>
        <tr>

            <th class="text-left">订单号</th>
            <th class="text-left">赛事名字</th>
            <th class="text-left">用户名</th>
            <th class="text-left">金额</th>
            <th class="text-left">类型</th>
            <th class="text-left">下单时间</th>
            <th class="text-left">核销码</th>
            <th class="text-left">核销码状态</th>
            <th class="text-left">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <?php $info = json_decode($vo['extra_info'],true); ?>
        <tr>

            <td class="text-left text-top nowrap">
                {$vo['order_num']}
            </td>
            <td class="text-left text-top nowrap">
                {$vo['compete_id']|getCompeteInfo}
            </td>
            <td class="text-left text-top nowrap">
                {$vo['order_num']}
            </td>
            <td class="text-left text-top nowrap">
                {:sprintf("%.2f", $vo.price/100)}元
            </td>
            <td class="text-left text-top nowrap">
                <?php if($vo['type'] == 1){echo "团体";}else{echo "个人";} ?>
            </td>
            <td class="text-left text-top nowrap">
                {$vo['create_time']}
            </td>
			<td class="text-left text-top nowrap">
                {$vo['code']}
            </td>
			<td class="text-left text-top nowrap code_status_{$vo.id}">
				<?php if($vo['code_status'] == 1){echo "已使用";}else{echo "未使用";} ?>
            </td>
            <td class="text-left text-top nowrap">
                <a onclick="useCode({$vo.id},{$vo['code_status']})">使用核销码</a><br/>
                <a data-open='{:url("$classuri/detail")}?id={$vo.id}'>查看详情</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>
<script>
function useCode(order_id,status){
	if(status == 1){
		alert('核销码已使用!');
		return false;
	}
	$.ajax({
		url:"/store/Order/useCode?order_id="+order_id,
		async:false,
		success:function(data){
			if(data == 1){
				$('.code_status_'+order_id).text('已使用');
				alert('核销码使用成功!');
			}else{
				alert(data);
			}
			
		},
		error:function(){
			alert("网络错误，请稍后再试！");
		},
		});
}
</script>
{/block}