{extend name='admin@public/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">


    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单单号</label>
        <div class="layui-input-inline">
            <input name="order_no" value="{$Think.get.order_no}" placeholder="请输入订单单号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">赛事名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="{$Think.get.goods_title}" placeholder="赛事名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户id</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="{$Think.get.goods_title}" placeholder="用户id" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户昵称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="{$Think.get.goods_title}" placeholder="用户昵称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">下单时间</label>
        <div class="layui-input-inline">
            <input name="create_at" data-time value="{$Think.get.create_at}" placeholder="下单时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.form.render();
    $('[data-time]').map(function () {
        window.laydate.render({range: true, elem: this});
    });
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <table class="layui-table" lay-size="sm">
        <thead>
        <tr>

            <th class="text-left">订单号</th>
            <th class="text-left">赛事名字</th>
            <th class="text-left">用户名</th>
            <th class="text-left">金额</th>
            <th class="text-left">类型</th>
            <th class="text-left">下单时间</th>
            <th class="text-left">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <?php $info = json_decode($vo['extra_info'],true); ?>
        <tr>

            <td class="text-left text-top nowrap">
                {$vo['order_num']}
            </td>
            <td class="text-left text-top nowrap">
                {$info['data']['name']}
            </td>
            <td class="text-left text-top nowrap">
                {$vo['order_num']}
            </td>
            <td class="text-left text-top nowrap">
                {:sprintf("%.2f", $vo.price/100)}元
            </td>
            <td class="text-left text-top nowrap">
                <?php if($vo['type'] == 1){echo "团体";}else{echo "个人";} ?>
            </td>
            <td class="text-left text-top nowrap">
                {$vo['create_time']}
            </td>
            <td class="text-left text-top nowrap">
                <a>查看详情</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>

{/block}